#package-card{
    transition: transform .22s;
    &:hover{
        transform: translateY(-4px);
    }
}
#update-button:hover {
  transform: translateX(-2px);
  transition: all 0.5s;
}
#icon {
  margin-right: 10px;
  transition: all 0.2s;
}